{erl_opts, [debug_info, {lager_extra_sinks, [audit]}]}.
{deps,
 [
  {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.1.0"}}},
  {siphash, {git, "https://github.com/jedisct1/siphash-erlang.git", {branch, "master"}}},
  {erlcass, {git, "https://github.com/silviucpp/erlcass.git", {tag, "v3.1"}}},
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.2"}}},
  {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.7"}}},
  {cache, {git, "https://github.com/fogfish/cache.git", {tag, "2.1.1"}}}
 ]}.

{shell,
 [{apps, [profile_locations]}]}.

{profiles,
 [{test,
   [{deps, []}]}
 ]}.
