[{erlcass,
  [{log_level, 1},
   {keyspace, <<"*******">>},
   {cluster_options,
    [
     {contact_points, <<"********">>},
     {latency_aware_routing, true},
     {token_aware_routing, true},
     {number_threads_io, 4},
     {tcp_nodelay, true},
     {tcp_keepalive, {true, 1800}},
     {default_consistency_level, 1}
    ]}]},
 {lager,
  [{log_root, "/tmp"},
   %% Default handlers for lager/lager_event
   {handlers,
    [{lager_console_backend, [{level, info}]},
     {lager_file_backend, [{file, "error.log"}, {level, error}]},
     {lager_file_backend, [{file, "console.log"}, {level, info}]}]
   },
   %% Any other sinks
   {extra_sinks,
    [{audit_lager_event,
      [{handlers,
	[{lager_file_backend,
	  [{file, "sink1.log"},
	   {level, info}]
	 }]},
       {async_threshold, 1000},
       {async_threshold_window, 100},
       {error_logger_hwm, 4096}]}]}]},
 {profile_locations,
  [{profile_id, #{
      profiles => "profiles.bin",
      profile_events => "profiles_events.bin",
      profile_event_comments => "profiles_events_comments.bin",
      profile_event_mentions => "profiles_events_mentions.bin",
      profile_event_shares => "profiles_events_shares.bin"
     }},
   {pgc_server, #{
      max_connections_count => 4
     }},
   {pgc_connection, #{
      username => "*******",
      password => "*******",
      database => "*******"
     }},
   {ng_queue, #{
      max_simultaneous_requests => 200,
      prepared_statements => #{
	select_author => <<"SELECT ****** FROM ****** WHERE (**** = ?) AND (***** = ?)">>
       }}}]}].
